/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  /* Pozicionálás */
  
  .profile-card {
    width: 480px;
    max-width: calc(100vw - 10px);
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  }
.name-headline{
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(79, 47, 80);
}

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: verdana;
  }
  body {
    height: 100vh;
  }
  .head, .links {
    text-align: center;
  }
  .head, .content {
    width: 90%;
    margin: 0 auto;
    font-family: verdana;
  }
  img {
    width: 200px;
    height: 250px;
    border-radius: 50%;  
    padding: 1px;
    background-color: #666;
    filter: grayscale(50%);
  }
  /* Contact links */
 h2 {
     text-align:center;
     padding-top:10px;
     text-shadow: 1px 1px 2px rgb(163, 160, 160);
 }
  ul.b {
    list-style-type: none;
    text-align: center;

  }
  li.b{
    display: inline;
    text-align: center;
  }
  .head, .about {
    margin-bottom: 0;

  }
  .head {
    background-color: rgb(158, 64, 153);
  }
  .content {
      background-color: rgb(77, 11, 68);
    padding: 1% 2%;
    padding-top: 30px;
      border-top: 1px solid hsla(0, 0%, 30%, .8);
      text-align: center;
  }
  ul.a{
    text-align: center;
list-style-position:inside;
  }
li.a {
    text-align: center;
        display:list-item;
        padding: 1px;
margin: auto;
        list-style-type: circle;
      }
.about: {
    text-align: center;
}


  body {
    background: url('https://besthqwallpapers.com/Uploads/12-2-2018/40423/thumb2-lilac-light-wooden-background-spring-flowers-purple-spring-flowers.jpg') no-repeat center center fixed;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  }
  img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: grayscale(20%);
  }
  h1 {
    color:rgb(212, 212, 205);
    text-shadow: 1px 1px 2px black;
    font-family: "Verdana";
    font-size: 20px;
    font-weight: bold;
    font-variant: big-caps;
  }
